<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string><![CDATA[https://doc-14-5c-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/t1lec06ck16je9e2msbrcnc7875usbuq/1613057175000/09882796166083759373/*/19V2AhFKKnLv8lm0gKaU_8Q-GKS8XdSVc?e=download]]></string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.google.ios.youtube</string>
          <key>bundle-version</key>
          <string><![CDATA[unknown]]></string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string><![CDATA[YOUTUBE VIP - THEANH]]></string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
