<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string><![CDATA[http://www.box.com/index.php?rm=box_download_shared_file&shared_name=wqd9q4o5m60cmrv1c4vmicpjqqi7vjzj&file_id=f_517475671709&rss=1]]></string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.google.ios.youtube</string>
          <key>bundle-version</key>
          <string><![CDATA[unknown]]></string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string><![CDATA[YOUTUBE VIP - THEANH]]></string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
